/**
 * Ports of future WebBlocks functionality that can be removed once WebBlocks 
 * version containing fix is released and the WebBlocks version in the theme is 
 * updated to reflect this. All fixes here should reference an issue in the 
 * WebBlocks GitHub issue tracker.
 */

/**
 * Box model hack for relative position with absolute position children 
 * https://github.com/ucla/WebBlocks/issues/461
 */
.container {
    @if $structure-container-width-max {
        @media screen 
            and (max-width: $structure-container-width-max 
                                + $structure-container-width-max 
                                    * (($structure-container-gutter*2)/100%) )
            and (min-width: $breakpoint-small+1) {
                padding-left: 0;
                padding-right: 0;
                margin-left: $structure-container-gutter;
                margin-right: $structure-container-gutter;
        }
    } @else {
        @media screen 
            and (min-width: $breakpoint-small+1) {                                       
            width: 100% - ($structure-container-gutter*2);
            padding-left: 0;
            padding-right: 0;
            margin-left: $structure-container-gutter;
            margin-right: $structure-container-gutter;
        }
    }
}