#site-footer-colophon {
    
    font-weight: bold;
    text-transform: uppercase; 
    
}

* + #site-footer-colophon {
    
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid rgb(255, 241, 0);
    
}