#site-header { 
    
    background-color: #2c5e91 !important;
    background: #2c5e91 url('../img/header-bg.jpg') repeat-x top; 
    padding: 20px 0 6px 0;
    
}

#site-header > .container {
    
    position: relative;
    
}

@import "header/title";
@import "header/search";
@import "header/navigation";