#site-header { 
    
    background-color: #2c5e91 !important;
    background: #2c5e91 url('../img/header-bg.jpg') repeat-x top; 
    padding: 20px 0 6px 0;
    
    > .container {
        position: relative;
    }
    
    #site-header-expand {
        display: none;
    }
    
    @media (max-width:$breakpoint-small){

        .hide-accessible-small {
            @include -base-visibility-hide-accessible;
            @include -base-visibility-hide-accessible-focusable;
        }

        #site-header-expand {
            display: block;
            float: right;
            
            .icon-menu-white {
                width: 16px;
                height: 16px;
                background-image: url('../img/white-menu.png');
            }
        }

    }
    
}

@import "header/title";
@import "header/search";
@import "header/navigation";