#site-topbar {
    
    /*
    These don't seem to be in effect in the Plone template:
	height:35px;
	background-color:#75ad0a;
	width:100%;
	z-index:9000;
    */
    
    padding-bottom: 6px;
    
    .container {
        padding-top: 6px;
    }
    
}

@import "topbar/editing";
@import "topbar/navigation";





