#site-topbar {
    
    /*
    These don't seem to be in effect in the Plone template:
	height:35px;
	background-color:#75ad0a;
	width:100%;
	z-index:9000;
    */
    
    padding-top: 6px;
    padding-bottom: 6px;
    
}

#site-topbar-audience, #site-topbar-editing, #site-topbar-personal {
    margin-bottom: 3px;
}

@import "topbar/audience";
@import "topbar/editing";
@import "topbar/personal";





