#site-header-navigation {
    
    height: 26px;
    position: relative;
    width: 100%;
    
    > ul {
        
        list-style-type: none;
        display: block;
        float: right;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        position: static; /* hack around portal_css dropdown-menu.css */
        
        > li {
            
            display: inline;
            float: left;
            
            > h1 {
                
                text-align: right;
                font-size: 1em;
                
                > a {
                    
                    color: #fff;
                    font-weight: 600; 
                    text-decoration: none; 
                    text-transform: uppercase; 
                    padding: 5px; 

                    &:hover {
                        color: #fff100;
                    }

                    &.current-section{ 
                        color: #fff100; 
                    }

                    &.selected { 
                        background: #fff; 
                        color: #204e91;
                    }

                    &.active { 
                        background: none; 
                        color: #FFF100;
                    }
                }
            }
            
            &.active {
                > .dropdown {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin-top: 25px;
                    background-color: #fff;
                }
                h1 {
                    background-color: #fff;
                }
            }
            
        }
        
    } 
            
    .dropdown {

        display: none;
        padding: 10px 10px 8px 10px;

        h2 {

            font-size: 1em;

            a {
                text-decoration: none;
                color: #4E8DB6;
            }

        }
        
        .medium-collapse > [class*="panel-"]:last-child > .small-collapse > [class*="panel-"] {
            
            padding-top: 4px;
            
            &:last-child > h2:last-child {
                border-bottom: none;
            }
        }
            
        ul {
            
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                
                background: none; 
                display: block; 
                padding: 5px 5px 5px 0; 
                margin-left: 0; 
                border-bottom: 1px solid #204E91; 
                
                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
                
                > a {
                    font-size: 0.923em; 
                    text-decoration: none; 
                    font-weight: normal; 
                    text-transform: none; 
                    margin: 0; 
                    padding: 0;
                }
            }
        }
        
        .close { 
            font-size: .9em; 
            position: absolute;
            z-index: 1000;
            top: 7px;
            right: 10px; 
            line-height: 1.2em;  
            padding: 5px 0 0 0; 
            display: block; 
            opacity: 1; /* fix bootstrap leakage */
            text-decoration: none;
        }

    }
    
    > ul > li.active h1 > a,
    .dropdown ul li a {
        color: #204E91;
        &:hover {
            color: #955efc;
        }
    }
    
}


@media (max-width: $breakpoint-small) {
    
    #site-header-navigation {
        
        font-size: 1.1em;
        height: auto;
        
        > ul,
        > ul > li,
        > ul > li > h1 {
            float: none;
            text-align: left;
        }
        
        > ul > li.active {
            h1 {
                background-color: transparent;
            }
             > .dropdown {
                margin: 0;
                padding-top: 0;
                position: static;
                background: transparent;
                ul {
                    margin-bottom: 10px;
                }
            }
        }
        
        > ul > li.active h1 > a,
        .dropdown h2 a {
            color: #fff;
        }
        
        .dropdown ul li > a {
            color: #e1e1e1;
        }
        
        .dropdown .close {
            display: none;
        }
        
        > ul > li.active h1 > a:hover,
        .dropdown ul li > a:hover,
        .dropdown h2 a:hover {
            color: #fff100;
        }
        
        .dropdown h2,
        .dropdown ul li {
            border-bottom: 1px solid #aaa;
            padding: 5px 5px 7px 0;
            margin-bottom: 2px;
        }
        
        .dropdown h2 {
            margin-top: 0;
        }
    }
}

#portal-globalnav li {
    float: none; /* hack around portal_css dropdown-menu.css */
}
