#site-header-search {
    
    position: absolute;
    right: 0;
    top: 0;
    
    form {
        position: relative;
        height: 25px; 
    }
    
    input[type="text"] {
        position: absolute;
        top: 0;
        right: 35px;
        border: none !important;
        border-radius: 0;
        width: 185px;
        padding: 6px 6px 5px 6px;
        font-size: 12px;
        margin: 0;
    }
    
    input[type="submit"] {
        position: absolute; 
        right: 0; 
        top: 0; 
        background: url("../img/search-btn.gif") no-repeat scroll 0 0 #FFFFFF; 
        width: 35px; 
        height: 25px; 
        border: 0; 
        padding: 0; 
        margin: 0;
        color: transparent;
    }
    
    @media (max-width: 640px) {
        
        position: relative;
        margin-bottom: 10px;
        
        input[type="text"] {
            width: auto;
            left: 0;
        }
    }
    
}